<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoPrice-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F27BFFA11FAB6C2A0080BAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27BFFBC1FAB6C2A0080BAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27BFFC71FAB6C2A0080BAEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
